<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Opengento\Document\Controller\Adminhtml\Index\Save\ProcessHandler">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="pivot" xsi:type="object">Opengento\DocumentProductLink\Controller\Adminhtml\Document\Save\PivotHandler</item>
                <item name="productLink" xsi:type="object">Opengento\DocumentProductLink\Controller\Adminhtml\Document\Save\ProductLinkHandler</item>
            </argument>
        </arguments>
    </type>
</config>
